body{
  background-color: #183830;
}

/*NAWIGACJA*/
.navbar{
  margin-left: 95px;
}
/*----------------------------*/


/*HOME*/
.home{
  height: 500px;
}

.subtitle{
  margin-top: 100px;
  left: 100px;
  top: 0px;
  position: absolute;
  color: #E97F51;
  font-size: 45px;
  font-family: Josefin Sans;
  font-weight: 400;
  word-wrap: break-word"
}

.big-title{
  left: 100px;
  top: 150px;
  position: absolute;
  color: white;
  font-size: 128px;
  font-family: Josefin Sans;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word"
}

.story{
  width: 1261px;
  left: 100px;
  top: 325px;
  position: absolute;
  color: #E97F51;
  font-size: 25px;
  font-family: Josefin Sans;
  font-weight: 300;
  word-wrap: break-word"
}

.line{
  width: 1240px;
  height: 3px; /* Grubość linii */
  background-color: #E97F51; /* Kolor linii */
  margin-top: 410px; /* Odstęp od innych elementów */
  position: absolute;
  left: 100px;
}
/*----------------------------*/

/*O MNIE*/
.about{
  height: 500px;
  background-color: #1E4139;
}

.skills{
  height: 500px;
}

.portfolio{
  height: 500px;
  background-color: #1E4139;
}

.contact{
  height: 500px;
}

