body{
  background-color: #183830;
}

/*NAWIGACJA*/
.navbar{
  margin-top: 10px;
  margin-left: 93px;
}
/*----------------------------*/


/*HOME*/
.home{
  height: 500px;
}

.subtitle{
  margin-top: 100px;
  left: 100px;
  top: 0px;
  position: absolute;
  color: #E97F51;
  font-size: 45px;
  font-family: Josefin Sans;
  font-weight: 400;
  word-wrap: break-word"
}

.big-title{
  left: 100px;
  top: 150px;
  position: absolute;
  color: white;
  font-size: 128px;
  font-family: Josefin Sans;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word"
}

.story{
  width: 1261px;
  left: 100px;
  top: 325px;
  position: absolute;
  color: #E97F51;
  font-size: 25px;
  font-family: Josefin Sans;
  font-weight: 300;
  word-wrap: break-word"
}

.line{
  width: 1240px;
  height: 3px; /* Grubość linii */
  background-color: #E97F51; /* Kolor linii */
  margin-top: 410px; /* Odstęp od innych elementów */
  position: absolute;
  left: 100px;
}
/*----------------------------*/

/*O MNIE*/
.about{
  height: 600px;
  background-color: #1E4139;
}
.long-story{
  color: white;
  font-size: 20px;
  font-family: Josefin Sans;
  font-weight: 300;
  word-wrap: break-word;
  margin-top: 90px;
}

.omnie{
  color: #E97F51;
  font-size: 64px;
  font-family: Josefin Sans;
  font-weight: 400;
  word-wrap: break-word;
  position: relative;
}

.foto{
  width: 350px;
  height: 400px;
  border: 16px;
  border-color: #E97F51;
  border-style: solid;
  margin-top: 30px;
}

.line2{
  width: 650px;
  height: 3px; /* Grubość linii */
  background-color: #E97F51; /* Kolor linii */
  margin-top: 490px; /* Odstęp od innych elementów */
  position: absolute;
  left: 100px;
}


/*----------------------------*/

.skills{
  height: 500px;
}

.portfolio{
  height: 500px;
  background-color: #1E4139;
}

.contact{
  height: 500px;
}

