.frame {
  background-color: #183830;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #183830;
  width: 1437px;
  height: 5161px;
  position: relative;
}

.frame .overlap-group {
  position: absolute;
  width: 1261px;
  height: 162px;
  top: 65px;
  left: 67px;
}

.frame .navbar {
  position: absolute;
  width: 1261px;
  height: 148px;
  top: 2px;
  left: 0;
}

.frame .white-logo {
  position: absolute;
  width: 95px;
  height: 162px;
  top: 0;
  left: 0;
}

.frame .home {
  position: absolute;
  width: 1272px;
  height: 366px;
  top: 407px;
  left: 62px;
}

.frame .text-wrapper {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: "Josefin Sans-Regular", Helvetica;
  font-weight: 400;
  color: #e87e51;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .posiadam-letnie-do {
  position: absolute;
  width: 1261px;
  top: 290px;
  left: 5px;
  font-family: "Josefin Sans-Light", Helvetica;
  font-weight: 300;
  color: #e87e51;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .oskar-pozorski {
  position: absolute;
  top: 127px;
  left: 0;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .line {
  position: absolute;
  width: 1250px;
  height: 3px;
  top: 363px;
  left: 5px;
}
